button {
    height: 16px;
    width: 16px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    background-image: url(/Images/bucc.png) /* 16x16 */;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }