button {
    height: 30px;
    width: 30px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    background-image: url(https://pbs.twimg.com/profile_images/545307090953060352/mN5J7AbD_400x400.png) /* 400x400 */;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }