button {
    height: 30px;
    width: 30px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/2/2c/Buc-ee%27s_beaver.svg/1920px-Buc-ee%27s_beaver.svg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }